<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fedbd">  <td>21/03/04 00:42:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:api.Put@65f095f8]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="9fedbd">  <td>21/03/04 00:42:25</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.before()[pri:0, instance:api.Put@65f095f8]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="79a8a8">  <td>21/03/04 00:42:25</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put.emptyId_3()[pri:0, instance:api.Put@65f095f8]">emptyId_3</td> 
  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="9fedbd">  <td>21/03/04 00:42:28</td>   <td>2324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.after()[pri:0, instance:api.Put@65f095f8]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="9fedbd">  <td>21/03/04 00:42:28</td>   <td>2326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.before()[pri:0, instance:api.Put@65f095f8]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="79a8a8">  <td>21/03/04 00:42:28</td>   <td>2326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put.notExistingId_2()[pri:0, instance:api.Put@65f095f8]">notExistingId_2</td> 
  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="9fedbd">  <td>21/03/04 00:42:28</td>   <td>2352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.after()[pri:0, instance:api.Put@65f095f8]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="9fedbd">  <td>21/03/04 00:42:28</td>   <td>2353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.before()[pri:0, instance:api.Put@65f095f8]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="79a8a8">  <td>21/03/04 00:42:28</td>   <td>2354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put.testStatus_4()[pri:0, instance:api.Put@65f095f8]">testStatus_4</td> 
  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="9fedbd">  <td>21/03/04 00:42:28</td>   <td>2379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.after()[pri:0, instance:api.Put@65f095f8]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="9fedbd">  <td>21/03/04 00:42:28</td>   <td>2381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.before()[pri:0, instance:api.Put@65f095f8]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="79a8a8">  <td>21/03/04 00:42:28</td>   <td>2381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put.validPut_1()[pri:0, instance:api.Put@65f095f8]">validPut_1</td> 
  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="9fedbd">  <td>21/03/04 00:42:28</td>   <td>2409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.after()[pri:0, instance:api.Put@65f095f8]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="9fedbd">  <td>21/03/04 00:42:28</td>   <td>2411</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:api.Put@65f095f8]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1201173334</td>   <td></td> </tr>
</table>
